.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.DS_Store
*.Rproj
*.html
*.js
*.css
*.pdf
*.tex
*.log
*.tmp
scripts/Supplementary-information_files/
scripts/Supplementary-information_cache/
scripts/bookdown_assets/
scripts/libs/
data/_TEMP/
figures/
